@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'akzidenz-grotesk_bq_lightRg';
    src: url('akzidenzgrotesk-light-webfont.eot');
    src: url('akzidenzgrotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('akzidenzgrotesk-light-webfont.woff') format('woff'),
         url('akzidenzgrotesk-light-webfont.ttf') format('truetype'),
         url('akzidenzgrotesk-light-webfont.svg#akzidenz-grotesk_bq_lightRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-size: 100%;
	font-family: 'akzidenz-grotesk_bq_lightRg', san-serif;
}

/* ------------------------------Home Page------------------------------*/

.container {
	min-height: 100%;
	position:relative;
	padding-bottom: 3em;
}

.main {
	position: relative;
	margin: 0 auto;
	margin-top: 5%;
	width: 90%;
	text-align:center;
}

.whatwedo {
	font-family: 'akzidenz-grotesk_bq_lightRg', san-serif;
	font-size: 100%;
	color:#EE2E24;
	text-align:center;
	margin: 0 auto;
	padding: 2%;
	width: auto;
}

.whatwedo a:hover,
.whatwedo a:visited,
.whatwedo a:link,
.whatwedo a:active {
	text-decoration:none;
}

.wedovideo {
	width: 65%;
	height: auto;
	margin: 0 auto;
	margin-top: 2%;
	text-align:center;
}

.login {
	height: 5px;
	clear:both;
	padding-bottom:100px;
	box-shadow: 0px 5px 8px #EEE;
}

.login img {
	text-align:center;
	margin-top:2%;
	padding-right:30px;
	float:right;
	width: 150px;
}

.footerB {
	text-align:center;
	font-family: 'akzidenz-grotesk_bq_lightRg', san-serif;
	font-size: small;
	width: 100%;
	height: 5%;
}

.footerA {
	text-align:center;
	font-family: 'akzidenz-grotesk_bq_lightRg', san-serif;
	font-size: small;
	position:absolute;
	bottom: 0;
	width: 100%;
	height: 5%;
}



/*----------------Dashboard---------------*/

.nav {
	height: 2px;
	clear:both;
	padding-bottom:100px;
	box-shadow: 0px 5px 8px #EEE;
	position:fixed;
	width:100%;
	z-index:1;
}

.nav a:visited,
.nav a:link,
.nav a:active {
	text-decoration:none;
	color:#000;
}

.nav a:hover {
	color:#F00;
}

.bug {
	margin: 1.8% 0 0 2%;
	float: left;
	display:inline;
}

.menu {
	margin: 1% 0 0 0;
	display:inline-block;
	width:55%;
}

.menu ul li {
	display:inline-block;
	margin: .4% 2% 0 0;
	width:auto;
	font-size:larger;
}

.profile {
	width: 15%;
	margin-top: 30px;
	float: right;
	display:inline-block;
}

.profile #profileimage {
	background-color:#999; 
	width:32px; 
	height:32px; 
	display:inline-block;
	margin: 0 25px 0 0;
	float:left;
}

.profile #profileimage img {
	max-height:40px;
}

.profile p img {
	height:15px; 
	padding-left:15px;
}

/* Pop Up for settings  */

